*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  animation: loadPage ease ;
  animation-duration: 0.5s;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-clr:#185ADB;
  --sec-clr:#EEEEEE;
  --tx-clr: #090910;
}

header{
  position: sticky;
  top: 0;
  background-color: var(--sec-clr);
  color: var(--tx-clr);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 10px #252525;
  z-index: 250;
}
header .Toggle,
header .Theme{
  font-size: 2.0em;
  padding: 15px;
  color: var(--tx-clr);
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
header .menu{
  position: absolute;
  display: none;
  top: 80%;
  left: 10px;
  background-color: var(--sec-clr);
  color: var(--tx-clr); 
  width: 225px;
  height: fit-content;
  box-shadow: 0 0 12px 0px #292929;
  border-radius: 7px;
  overflow: hidden;
}
header .menu h3 {
  text-align: center;
  background-color: #BBBBBB;
  margin: 0 auto 20px;
  padding: 15px;
}
header .menu ul{
  list-style: none;
  padding: 15px;
  
}
header .menu ul li{
  padding: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}
header .menu ul li.Clear_all{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  color: #F8F8F8;
  list-style:none;
  z-index: 1;
}
header .menu ul li.tasksCount span{
  position: relative;
  margin-left: 15px;
  color: #FFF;
  z-index: 1;
}
header .menu ul li.tasksCount span::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 15px;
  background-color: var(--main-clr);
  transform: translate(-50% ,-50%);
  border-radius: 50%;
  z-index: -1;
}
header .menu ul li.Clear_all::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 35px;
  width: 100%;
  background-color: var(--main-clr);
  transform: translate(-50% , -50%);
  z-index: -1;
}
header .logo{
  height: 70px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
header .Theme{
  color: var(--main-clr);
  margin-right: 15px;
}
header .theme_Box{
  position: absolute;
  display: none;
  top: 80%;
  right: 10px;
  background-color: var(--sec-clr);
  width: 225px;
  height: fit-content;
  box-shadow: 0 0 12px 0px #292929;
  border-radius: 7px;
  overflow: hidden;
}
.theme_Box_opened{
  display: block !important;
  color: var(--tx-clr);
}

header .theme_Box h3{
  margin: 0 auto 25px;
  padding: 10px;
  text-align: center;
  background-color: #BBBBBB;
}
header .theme_Box ul{
  display: grid;
  grid-row-gap: 10px;
  list-style: none;
  padding: 10px;
  margin: auto;
  grid-template-columns: repeat(auto-fill ,minmax(53px,1fr) );
  justify-items: center;
}
header .theme_Box ul li{
  width: 50px;
  height: 50px;
  
}
header .theme_Box .Night{
  position: relative;
  display: flex;
  width: max-content;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  margin: auto;
}
header .theme_Box .Night_mode{
  font-size: 1.5em;
  color: #7952B3;
  margin-right: 10px;
  cursor: pointer;
}
header .theme_Box .Light{
  position: absolute;
  left: 25%;
  bottom: 5%;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  display: none;
}
header .theme_Box .Light .Light_mode{
  color: #FFC107;
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;

}

header .logo .logoTXT{
  font-size: 1.5em;
}
header .logo .logoICO{
  font-size: 1.9em;
  color: var(--main-clr);
  margin-right: 15px;
}
section {
  position: relative;
  min-height: calc(100vh - 71px);
  display: flex;
  background-image: url("../img/Main_Backgrond.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

section aside{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 71px);
  width:250px;
  padding: 15px;
  background-color: var(--sec-clr);
  color: var(--tx-clr);
  transition: display 0.3s;
  -webkit-transition: display 0.3s;
  -moz-transition: display 0.3s;
  -ms-transition: display 0.3s;
  -o-transition: display 0.3s;
}
section aside li{
  padding: 10px 0;
  font-size: 1.1em;
  font-weight: bold;

}
section aside li.Clear_all_aside{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  color: #F8F8F8;
  list-style:none;
  z-index: 1;
}
section aside li.Clear_all_aside .Clear_all_Ico{
  font-size: 1.2em;
  color: #810000;
}
section aside li.Clear_all_aside::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 35px;
  width: 100%;
  background-color: var(--main-clr);
  transform: translate(-50% , -50%);
  z-index: -1;
}
section aside li span{
  position: relative;
  font-size: 1.5;
  color: #FFF;
  margin-left: 10px;
  z-index: 1;
}

section aside li span::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 15px;
  background-color: var(--main-clr);
  transform: translate(-50% ,-50%);
  border-radius: 50%;
  z-index: -1;
}

@media (max-width:768px) {
  section aside{
    display: none;
  }
  
}
section aside::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: 3px;
}

section .container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  backdrop-filter: blur(5px);

}

section .container .add_container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--main-clr);
  z-index: 6;
}
section .container .add_container .empty_field{
  position: absolute;
  right: 9%;
  font-size: 2.0em;
  cursor: pointer;
  color: #292929;
  transition: color 0.3s ;
}
section .container .add_container .empty_field:hover{
  color: #bb0101;
}
@media (max-width:768px) {
  section .container .add_container{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
}
section .container .add_container .txInputLbl{
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 10px;
  color: #EEEEEE;
}
section .container .add_container .textInput{
  flex-grow: 1;
  padding: 10px;
  font-size: 1.1em;
  transition:  opacity 0.3s;
  -webkit-transition:  opacity 0.3s;
  -moz-transition:  opacity 0.3s;
  -ms-transition:  opacity 0.3s;
  -o-transition:  opacity 0.3s;
}
@media (max-width:768px) {
  section .container .add_container .textInput{
    width: 100%;
  }
}
section .container .add_container .textInput:focus::placeholder{
  opacity: 0;
}
section .container .add_container .addButton{
  font-size: 2.3em;
  cursor: pointer;
  margin-left: 10px;
  background-color: var(--sec-clr);
  border-radius: 50%;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
section .container .add_container .addButton:hover{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
section .container .taskContaienr{
  display: flex;
  min-height: 80vh;
  width: 100%;
  background-color: var(--main-clr);
  opacity: .7;
  padding-top: 25px;
  z-index: 4;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}
section .container .taskContaienr .task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 5px 25px;
  background-color: var(--sec-clr);
  color: var(--tx-clr);
  width: 95%;
  box-shadow: 0 0 15px 3px #212121;
  border-radius: 4px;
}
section .container .taskContaienr .task.done{
  background-color: #00AF91;
  opacity: 0.7;
  text-decoration: line-through;
}
section .container .taskContaienr .task .taskTitle {
  font-weight: bold;
  padding: 10px 30px;
  width: 100%;
  margin: 0;

}
@media (max-width:768px) {
  section .container .taskContaienr .task .taskTitle {
    font-size: 15px;
    padding: 0;
    height: fit-content;
  }
}
section .container .taskContaienr .task .selectCircle{
  padding: 8px;
  margin: 0;
  color: #000;
  border: 5px solid var(--main-clr);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
section .container .taskContaienr .task .taskFinished{
  padding: 0px 25px;
  background-color: rgba(0, 128, 0, 0.5);
  color: #000;
  font-size: 2.3em;
  cursor: pointer;
  
}
section .container .taskContaienr .task .deleteBTN{
  padding: 0px 25px;
  cursor: pointer;
  background-color: #a9333b7c;
  color: #000;
  font-size: 2.3em;
}
